node-red/flows/cosmic-array.json
[{"id":"5ca01c13.799394","type":"rpi-gpio in","z":"be294f4a.c6e12","name":"red (pin 11)","pin":"11","intype":"tri","debounce":"25","read":false,"x":110,"y":240,"wires":[["b234dffd.b77db"]]},{"id":"9cf2def9.aa6b2","type":"rpi-gpio in","z":"be294f4a.c6e12","name":"green (pin 12)","pin":"12","intype":"tri","debounce":"25","read":false,"x":110,"y":300,"wires":[["3babd6c2.e2b7ea"]]},{"id":"8ea2369e.5286b8","type":"rpi-gpio in","z":"be294f4a.c6e12","name":"blue (pin 13)","pin":"13","intype":"tri","debounce":"25","read":false,"x":110,"y":360,"wires":[["8a1de007.7b3e1"]]},{"id":"9e140718.ebb8d8","type":"switch","z":"be294f4a.c6e12","name":"event","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":300,"wires":[["e89015a5.3fe5d8","a4103569.a808e8"]],"info":"Only trigger on events."},{"id":"a4103569.a808e8","type":"debug","z":"be294f4a.c6e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":240,"wires":[]},{"id":"e89015a5.3fe5d8","type":"change","z":"be294f4a.c6e12","name":"Timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["3437810b.cfa6de","92f63c22.abd7e","56305541.502e7c","2d9b50f5.bdbd6"]]},{"id":"b234dffd.b77db","type":"change","z":"be294f4a.c6e12","name":"Channel 0","rules":[{"t":"set","p":"channel","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["9e140718.ebb8d8"]]},{"id":"3babd6c2.e2b7ea","type":"change","z":"be294f4a.c6e12","name":"Channel 1","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["9e140718.ebb8d8"]]},{"id":"8a1de007.7b3e1","type":"change","z":"be294f4a.c6e12","name":"Channel 2","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":360,"wires":[["9e140718.ebb8d8"]]},{"id":"3437810b.cfa6de","type":"template","z":"be294f4a.c6e12","name":"Log Line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}} {{channel}}","output":"str","x":820,"y":100,"wires":[["4156c9ff.b89908","c7226f3.1a3719"]]},{"id":"4156c9ff.b89908","type":"debug","z":"be294f4a.c6e12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":60,"wires":[]},{"id":"c7226f3.1a3719","type":"file","z":"be294f4a.c6e12","name":"Event Log","filename":"event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":100,"wires":[[]]},{"id":"fedbc967.ff2628","type":"mqtt out","z":"be294f4a.c6e12","name":"","topic":"cosmic-array/event","qos":"2","retain":"","broker":"bcf11dd8.07a6d","x":990,"y":640,"wires":[]},{"id":"78a4e4ff.8fbdcc","type":"comment","z":"be294f4a.c6e12","name":"Collect Events","info":"","x":110,"y":180,"wires":[]},{"id":"96c42cf9.9abcc","type":"config","z":"be294f4a.c6e12","name":"nodename","properties":[{"p":"nodename","pt":"flow","to":"ca13","tot":"str"}],"active":true,"x":110,"y":80,"wires":[]},{"id":"40fc4f5d.f8e44","type":"debug","z":"be294f4a.c6e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":600,"wires":[]},{"id":"6b42db7b.8a64c4","type":"comment","z":"be294f4a.c6e12","name":"Send to Server","info":"","x":620,"y":580,"wires":[]},{"id":"e8abc186.41d5","type":"inject","z":"be294f4a.c6e12","name":"test event","topic":"test","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["8a1de007.7b3e1"]]},{"id":"92f63c22.abd7e","type":"debug","z":"be294f4a.c6e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":60,"wires":[]},{"id":"9c600bcc.df36b8","type":"template","z":"be294f4a.c6e12","name":"Host Log Line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{hostname}} {{timestamp}} {{channel}}","output":"str","x":620,"y":500,"wires":[["82fa3d19.5520f","4ffb16a3.726318"]]},{"id":"82fa3d19.5520f","type":"file","z":"be294f4a.c6e12","name":"Host Event Log","filename":"host-event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":500,"wires":[[]]},{"id":"4ffb16a3.726318","type":"debug","z":"be294f4a.c6e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":460,"wires":[]},{"id":"5b61872d.663278","type":"template","z":"be294f4a.c6e12","name":"MQTT Event Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"hostname\": \"{{hostname}}\",\n \"timestamp\": {{timestamp}},\n \"channel\": {{channel}}\n }","output":"json","x":640,"y":620,"wires":[["40fc4f5d.f8e44","fedbc967.ff2628"]]},{"id":"b175bb4c.2ccb78","type":"inject","z":"be294f4a.c6e12","name":"test event","topic":"test","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":660,"wires":[["fedbc967.ff2628"]]},{"id":"9f3c04ea.b15f48","type":"mqtt out","z":"be294f4a.c6e12","name":"","topic":"cosmic-array/network","qos":"2","retain":"","broker":"bcf11dd8.07a6d","x":800,"y":800,"wires":[]},{"id":"f9a86daf.c9e1a","type":"inject","z":"be294f4a.c6e12","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":800,"wires":[["5b9d9253.96ca7c"]]},{"id":"cd305357.7ae27","type":"start-up-trigger","z":"be294f4a.c6e12","x":140,"y":760,"wires":[["5b9d9253.96ca7c"]]},{"id":"7b398277.2baafc","type":"debug","z":"be294f4a.c6e12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":760,"wires":[]},{"id":"56305541.502e7c","type":"OS","z":"be294f4a.c6e12","name":"","x":150,"y":540,"wires":[["d063fffb.0418b"]]},{"id":"d063fffb.0418b","type":"change","z":"be294f4a.c6e12","name":"Set hostname","rules":[{"t":"set","p":"hostname","pt":"msg","to":"payload.hostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":540,"wires":[["5b61872d.663278","9c600bcc.df36b8"]]},{"id":"5fde2d45.218194","type":"template","z":"be294f4a.c6e12","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Detector {{hostname}} is online!","output":"str","x":580,"y":780,"wires":[["7b398277.2baafc","9f3c04ea.b15f48"]]},{"id":"5b9d9253.96ca7c","type":"OS","z":"be294f4a.c6e12","name":"","x":370,"y":740,"wires":[["7e2b5a11.9a5764"]]},{"id":"7e2b5a11.9a5764","type":"change","z":"be294f4a.c6e12","name":"Set hostname","rules":[{"t":"set","p":"hostname","pt":"msg","to":"payload.hostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["5fde2d45.218194"]]},{"id":"65b1301.0261cd","type":"comment","z":"be294f4a.c6e12","name":"Detector Status","info":"","x":120,"y":680,"wires":[]},{"id":"8f10fbbe.4a8c58","type":"exec","z":"be294f4a.c6e12","command":"aplay Documents/git/cosmic-array/bin/audio/channel0.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play Channel 0","x":980,"y":240,"wires":[[],[],[]]},{"id":"2d9b50f5.bdbd6","type":"switch","z":"be294f4a.c6e12","name":"","property":"channel","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":300,"wires":[["8f10fbbe.4a8c58"],["6ee337e.3f359c8"],["6354cec3.fa946"]]},{"id":"6ee337e.3f359c8","type":"exec","z":"be294f4a.c6e12","command":"aplay Documents/git/cosmic-array/bin/audio/channel1.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play Channel 1","x":980,"y":300,"wires":[[],[],[]]},{"id":"6354cec3.fa946","type":"exec","z":"be294f4a.c6e12","command":"aplay Documents/git/cosmic-array/bin/audio/channel2.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play Channel 2","x":980,"y":360,"wires":[[],[],[]]},{"id":"bcf11dd8.07a6d","type":"mqtt-broker","z":"","name":"mqtt.cosmic.mawsonlakes.org","broker":"10.147.20.189","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]