node-red/flows/cosmic-array.json
[{"id":"c3eef175.06adc","type":"rpi-gpio in","z":"d11c609a.8719a","name":"red (pin 11)","pin":"11","intype":"tri","debounce":"25","read":false,"x":110,"y":240,"wires":[["fec4f0b5.ec966"]]},{"id":"1f9c7a1b.be28f6","type":"rpi-gpio in","z":"d11c609a.8719a","name":"green (pin 12)","pin":"12","intype":"tri","debounce":"25","read":false,"x":110,"y":300,"wires":[["703c53cc.5ae97c"]]},{"id":"b75ad2d6.99143","type":"rpi-gpio in","z":"d11c609a.8719a","name":"blue (pin 13)","pin":"13","intype":"tri","debounce":"25","read":false,"x":110,"y":360,"wires":[["3d4a9e0d.0e6b32"]]},{"id":"1c2c7226.253d3e","type":"switch","z":"d11c609a.8719a","name":"event","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":300,"wires":[["d8710336.f5b86","8313a71d.8b3508"]],"info":"Only trigger on events."},{"id":"8313a71d.8b3508","type":"debug","z":"d11c609a.8719a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":240,"wires":[]},{"id":"d8710336.f5b86","type":"change","z":"d11c609a.8719a","name":"Timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["c674998f.8720d8","90541b99.619eb8","61945d21.25dc84"]]},{"id":"fec4f0b5.ec966","type":"change","z":"d11c609a.8719a","name":"Channel 0","rules":[{"t":"set","p":"channel","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["1c2c7226.253d3e"]]},{"id":"703c53cc.5ae97c","type":"change","z":"d11c609a.8719a","name":"Channel 1","rules":[{"t":"set","p":"channel","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["1c2c7226.253d3e"]]},{"id":"3d4a9e0d.0e6b32","type":"change","z":"d11c609a.8719a","name":"Channel 2","rules":[{"t":"set","p":"channel","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":360,"wires":[["1c2c7226.253d3e"]]},{"id":"c674998f.8720d8","type":"template","z":"d11c609a.8719a","name":"Log Line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}} {{channel}}","output":"str","x":820,"y":220,"wires":[["7b7e2d23.54a844","1546cbe9.f95294"]]},{"id":"7b7e2d23.54a844","type":"debug","z":"d11c609a.8719a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":180,"wires":[]},{"id":"1546cbe9.f95294","type":"file","z":"d11c609a.8719a","name":"Event Log","filename":"event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":220,"wires":[[]]},{"id":"453f09b9.ee7348","type":"mqtt out","z":"d11c609a.8719a","name":"","topic":"cosmic-array/event","qos":"2","retain":"","broker":"652a1be6.da0224","x":990,"y":580,"wires":[]},{"id":"fb5e3a1e.7b9e38","type":"comment","z":"d11c609a.8719a","name":"Collect Events","info":"","x":110,"y":180,"wires":[]},{"id":"a5e88544.5fa5d8","type":"config","z":"d11c609a.8719a","name":"nodename","properties":[{"p":"nodename","pt":"flow","to":"ca13","tot":"str"}],"active":true,"x":110,"y":80,"wires":[]},{"id":"9e6cd13c.06fa8","type":"debug","z":"d11c609a.8719a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":640,"wires":[]},{"id":"33df9c3d.b487f4","type":"comment","z":"d11c609a.8719a","name":"Send to Server","info":"","x":120,"y":660,"wires":[]},{"id":"61344548.b1be3c","type":"inject","z":"d11c609a.8719a","name":"test event","topic":"test","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["3d4a9e0d.0e6b32"]]},{"id":"90541b99.619eb8","type":"debug","z":"d11c609a.8719a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":180,"wires":[]},{"id":"dddbc554.fbb908","type":"template","z":"d11c609a.8719a","name":"Host Log Line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{hostname}} {{timestamp}} {{channel}}","output":"str","x":640,"y":440,"wires":[["eba09b45.a764c8","b588d7d5.f12a98"]]},{"id":"eba09b45.a764c8","type":"file","z":"d11c609a.8719a","name":"Host Event Log","filename":"host-event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":440,"wires":[[]]},{"id":"b588d7d5.f12a98","type":"debug","z":"d11c609a.8719a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":400,"wires":[]},{"id":"2de7accc.b8ddc4","type":"template","z":"d11c609a.8719a","name":"MQTT Event Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"hostname\": \"{{hostname}}\",\n \"timestamp\": {{timestamp}},\n \"channel\": {{channel}}\n }","output":"json","x":640,"y":560,"wires":[["9e6cd13c.06fa8","453f09b9.ee7348"]]},{"id":"d401554.9472ca8","type":"inject","z":"d11c609a.8719a","name":"test event","topic":"test","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":500,"wires":[["453f09b9.ee7348"]]},{"id":"aac882fe.b75ac","type":"mqtt out","z":"d11c609a.8719a","name":"","topic":"cosmic-array/network","qos":"2","retain":"","broker":"652a1be6.da0224","x":800,"y":760,"wires":[]},{"id":"bd47a021.aaf6e","type":"inject","z":"d11c609a.8719a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["154988b4.3cef87"]]},{"id":"ce12bfa3.15ef6","type":"start-up-trigger","z":"d11c609a.8719a","x":140,"y":720,"wires":[["154988b4.3cef87"]]},{"id":"154988b4.3cef87","type":"change","z":"d11c609a.8719a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nodename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":760,"wires":[["aac882fe.b75ac","3fabfe30.bb7bb2"]]},{"id":"3fabfe30.bb7bb2","type":"debug","z":"d11c609a.8719a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"61945d21.25dc84","type":"OS","z":"d11c609a.8719a","name":"","x":150,"y":520,"wires":[["d7a40996.e6c3c8"]]},{"id":"d7a40996.e6c3c8","type":"change","z":"d11c609a.8719a","name":"Set hostname","rules":[{"t":"set","p":"hostname","pt":"msg","to":"payload.hostname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["2de7accc.b8ddc4","dddbc554.fbb908"]]},{"id":"652a1be6.da0224","type":"mqtt-broker","z":"","name":"mqtt.cosmic.mawsonlakes.org","broker":"10.147.20.189","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]