node-red/flows/save-events-to-file.json
[{"id":"c3eef175.06adc","type":"rpi-gpio in","z":"d11c609a.8719a","name":"red (pin 11)","pin":"11","intype":"tri","debounce":"25","read":false,"x":110,"y":80,"wires":[["fec4f0b5.ec966"]]},{"id":"1f9c7a1b.be28f6","type":"rpi-gpio in","z":"d11c609a.8719a","name":"green (pin 12)","pin":"12","intype":"tri","debounce":"25","read":false,"x":110,"y":140,"wires":[["703c53cc.5ae97c"]]},{"id":"b75ad2d6.99143","type":"rpi-gpio in","z":"d11c609a.8719a","name":"blue (pin 13)","pin":"13","intype":"tri","debounce":"25","read":false,"x":110,"y":200,"wires":[["3d4a9e0d.0e6b32"]]},{"id":"1c2c7226.253d3e","type":"switch","z":"d11c609a.8719a","name":"event","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":140,"wires":[["d8710336.f5b86","8313a71d.8b3508"]],"info":"Only trigger on events."},{"id":"8313a71d.8b3508","type":"debug","z":"d11c609a.8719a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":60,"wires":[]},{"id":"d8710336.f5b86","type":"change","z":"d11c609a.8719a","name":"Timestamp","rules":[{"t":"set","p":"event","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["c674998f.8720d8"]]},{"id":"fec4f0b5.ec966","type":"change","z":"d11c609a.8719a","name":"Channel 0","rules":[{"t":"set","p":"topic","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["1c2c7226.253d3e"]]},{"id":"703c53cc.5ae97c","type":"change","z":"d11c609a.8719a","name":"Channel 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["1c2c7226.253d3e"]]},{"id":"3d4a9e0d.0e6b32","type":"change","z":"d11c609a.8719a","name":"Channel 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["1c2c7226.253d3e"]]},{"id":"c674998f.8720d8","type":"template","z":"d11c609a.8719a","name":"Log Line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}} {{event}}","output":"str","x":780,"y":200,"wires":[["7b7e2d23.54a844","1546cbe9.f95294"]]},{"id":"7b7e2d23.54a844","type":"debug","z":"d11c609a.8719a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":200,"wires":[]},{"id":"1546cbe9.f95294","type":"file","z":"d11c609a.8719a","name":"Event Log","filename":"event.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":260,"wires":[[]]}]